<div id="checkout">

    <h1>Checkout</h1>
    <script type="text/ng-template" id="group-template.html">
        <div class="card-header">
            <h4 class="card-title" style="color:#fa39c3">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                  {{heading}}
                </span>
                </a>
            </h4>
        </div>
        <div class="card-collapse collapse" uib-collapse="!isOpen">
            <div class="card-body" ng-transclude></div>
        </div>
    </script>
    <div class="checkout-area">
        <div class="row">
            <div class="col-md-8">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="mt-1" heading="Login" template-url="group-template.html" ng-show="">
                        <div class="panel-body">
                            <h6>RETURNING CUSTOMER</h6>
                            <div class="alert alert-danger" role="alert" ng-hide="checkActiveUser()">
                                <strong>Invalid Login!</strong> incorrect email or password
                            </div>
                            <form>
                                <div class="form-group">
                                    <label for="email">ENTER EMAIL</label>
                                    <input type="email" class="form-control" id="email" ng-model="email">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">ENTER PASSWORD</label>
                                    <input type="password" class="form-control" id="pwd" ng-model="pwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                                </div>
                                <div class="pass-link">
                                    <p> <a class="forgot-pass" href="#!/login/forgetPassword">FORGOT PASSWORD</a></p>
                                    <label class="login-note">
                                        <input type="radio" value="guest" name="check">
                                        <span>REMEMBER ME</span>
                                        </label>
                                    <button type="button" class="btn btn-success btn-block" ng-click="login()">LOGIN </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div uib-accordion-group class="mt-1" heading="Billing Details" template-url="group-template.html">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="First Name*">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="Last Name*">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="Company name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="email" placeholder="Email Address*">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="tel" placeholder="Phone*">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="aa-checkout-single-bill">
                                        <textarea cols="8" rows="3">Address*</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="aa-checkout-single-bill">
                                        <select>
                                <option value="0">Select Your Country</option>
                                <option value="1">Australia</option>
                                <option value="2">Afganistan</option>
                                <option value="3">Bangladesh</option>
                                <option value="4">Belgium</option>
                                <option value="5">Brazil</option>
                                <option value="6">Canada</option>
                                <option value="7">China</option>
                                <option value="8">Denmark</option>
                                <option value="9">Egypt</option>
                                <option value="10">India</option>
                                <option value="11">Iran</option>
                                <option value="12">Israel</option>
                                <option value="13">Mexico</option>
                                <option value="14">UAE</option>
                                <option value="15">UK</option>
                                <option value="16">USA</option>
                              </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="Appartment, Suite etc.">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="City / Town*">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="District*">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="Postcode / ZIP*">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div uib-accordion-group class="mt-1" heading="Shipping Address" template-url="group-template.html">
                        <div class="form-group row">
                            <label for="shippingAddress"><input type="checkbox" id="shippingAddress" ng-model="shippingAddress"
                                 name="shippingAddress" > Same as my shipping address</label>
                        </div>
                        <div ng-hide="shippingAddress" class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="First Name*">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="Last Name*">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="Company name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="email" placeholder="Email Address*">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="tel" placeholder="Phone*">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="aa-checkout-single-bill">
                                        <textarea cols="8" rows="3">Address*</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="aa-checkout-single-bill">
                                        <select>
                                <option value="0">Select Your Country</option>
                                <option value="1">Australia</option>
                                <option value="2">Afganistan</option>
                                <option value="3">Bangladesh</option>
                                <option value="4">Belgium</option>
                                <option value="5">Brazil</option>
                                <option value="6">Canada</option>
                                <option value="7">China</option>
                                <option value="8">Denmark</option>
                                <option value="9">Egypt</option>
                                <option value="10">India</option>
                                <option value="11">Iran</option>
                                <option value="12">Israel</option>
                                <option value="13">Mexico</option>
                                <option value="14">UAE</option>
                                <option value="15">UK</option>
                                <option value="16">USA</option>
                              </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="Appartment, Suite etc.">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="City / Town*">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="District*">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                        <input type="text" placeholder="Postcode / ZIP*">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="aa-checkout-single-bill">
                                        <textarea cols="8" rows="3">Special Notes</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div uib-accordion-group class="mt-1" heading="Payment Method" template-url="group-template.html">
                        <div class="aa-payment-method">
                            <label for="cashdelivery"><input type="radio" id="cashdelivery" name="optionsRadios"> Cash on Delivery </label>
                            <label for="paypal"><input type="radio" id="paypal" name="optionsRadios" checked> Via Paypal </label>
                            <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">
                            <button clas="btn btn-primary aa-browse-btn" ng-click="placeOrder()">Place Order</button>
                        </div>
                    </div>
                </uib-accordion>
            </div>
            <div class="col-md-4">
                <h4>Order Summary</h4>
                <div class="checkout-right">
                    <div class="aa-order-summary-area" data-ng-init="getShoppingCart()">
                        <div class="cart-image" ng-repeat="shoppingCart in shoppingCarts">
                            <div class="row">
                                <div class="col-md-4 shoppingCart-summary-left">
                                    <a href="#!/products/{{shoppingCart.productID.id}}"><img class="cart-image-small-checkout img-fluid" ng-src="{{shoppingCart.productImage}}" alt=""></a>
                                </div>
                                <div class="col-md-8 shoppingCart-summary-right">
                                    <div class="cart-info-checkout">
                                        <a href="#!/products/{{shoppingCart.productID.id}}">{{shoppingCart.productName}} </a>
                                        <p class="cart-size"><span class="bold">Size:</span>{{shoppingCart.productSize}}</p>
                                        <p class="cart-color"><span class="bold">Color:</span>
                                            <span class="color-circle" ng-style="{ 'background-color': '{{shoppingCart.productColor}}'}"></span>
                                        </p>
                                        <p class="cart-price"> <span class="bold">Price: </span>${{shoppingCart.productPrice | number:2}} </p>
                                        <p class="cart-quantity"><span class="bold">Qty:</span> {{shoppingCart.productQuantity}}</p>
                                        <p class="cart-subtotal"><span class="bold">Subtotal: </span> ${{shoppingCart.productQuantity * shoppingCart.productPrice | number:2}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>