<div>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="registration-form">
            <h1>IT'S ALL ABOUT YOU</h1>
            <h6>Thank you for registering. Complete your profile and shop with ease. </h6>
            <div> <span class="required">*</span> Required Fields</div>
            <form>
                <div>Email:{{regEmail}}</div>
                <div class="form-group">
                    <label for="fname">First Name <span class="required">*</span></label>
                    <input type="text" class="form-control" id="fname" ng-model="user.fname" required>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name <span class="required">*</span></label>
                    <input type="text" class="form-control" id="lname" ng-model="user.lname" required>
                </div>
                <div class="form-group">
                    <label for="address"> Address <span class="required">*</span></label>
                    <input type="text" class="form-control" id="address" ng-model="user.address" required>
                </div>
                <div class="form-group">
                    <label for="city"> City <span class="required">*</span></label>
                    <input type="text" class="form-control" id="city" ng-model="user.city" required>
                </div>
                <div class="form-group">
                    <label for="country"> Country/Region <span class="required">*</span></label>
                    <select id="country" class="form-control" ng-model="user.country">
                            <option value="0">Albania</option>
                            <option value="1">Australia</option>
                            <option value="2">Afganistan</option>
                            <option value="3">Bangladesh</option>
                            <option value="4">Belgium</option>
                            <option value="5">Brazil</option>
                            <option value="6">Canada</option>
                            <option value="7">China</option>
                            <option value="8">Denmark</option>
                            <option value="9">Egypt</option>
                            <option value="10">India</option>
                            <option value="11">Iran</option>
                            <option value="12">Israel</option>
                            <option value="13">Mexico</option>
                            <option value="14">UAE</option>
                            <option value="15">UK</option>
                            <option value="16">USA</option>
                          </select>
                </div>
                <div class="form-group">
                    <label for="state"> State/Province <span class="required">*</span></label>
                    <input type="text" class="form-control" id="state" ng-model="user.state" required>
                </div>
                <div class="form-group">
                    <label for="zip"> Zip/Postal Code<span class="required">*</span></label>
                    <input type="text" class="form-control" id="zip" ng-model="user.zip" required>
                </div>
                <div class="form-group">
                    <label for="phone"> Phone Number</label>
                    <input type="number" class="form-control" id="phone" ng-model="user.phone">
                </div>
                <div class="form-group">
                    <label for="gender">Gender </label>
                    <input type="text" class="form-control" id="gender" ng-model="user.gender">
                </div>
                <div class="form-group">
                    <label for="bdate"> Tell us your birthday (we love sending gifts).</label>
                    <input type="date" class="form-control" id="bdate" ng-model="user.bdate">
                </div>
                <button class="btn btn-success" ng-click="updateUser()">Submit</button>
            </form>
        </div>
    </div>
</div>