<div>
    <app-navbar></app-navbar>
    <div class="container">
        <h1>Shopping Cart</h1>
        <h6 class="text-center" ng-hide="shoppingCarts.length > 0">YOUR SHOPPING CART IS EMPTY.</h6>
        <div ng-show="shoppingCarts.length> 0" class="shopping-cart">

            <div class="column-labels">
                <label class="product-image">Image</label>
                <label class="product-details">Product</label>
                <label class="product-price">Price</label>
                <label class="product-quantity">Quantity</label>
                <label class="product-removal">Remove</label>
                <label class="product-line-price">Total</label>
            </div>

            <div class="product" ng-repeat="shoppingCart in shoppingCarts">

                <div class="product-image">
                    <a href="#!/products/{{shoppingCart.productID.id}}">
                        <img src="{{shoppingCart.productImage}}"></a>
                </div>
                <div class="product-details">
                    <div class="product-title"><a href="#!/products/{{shoppingCart.productID.id}}">
                        {{shoppingCart.productName}}</a></div>
                    <p class="product-size"> <span class="bold"> Size:</span> {{shoppingCart.productSize}}</p>
                    <p class="product-color"><span class="bold">Color:</span>
                        <span class="color-circle" ng-style="{ 'background-color': '{{shoppingCart.productColor}}'}"></span>
                    </p>
                    <span class="bold">Status: </span><span class="text-success"><strong>In Stock</strong></span>
                </div>
                <div class="product-price">{{shoppingCart.productPrice}}</div>
                <div class="product-quantity">
                    <input type="number" ng-model="shoppingCart.productQuantity" ng-change="updateProductQuantityInCart(shoppingCart)" min="1">
                </div>
                <div class="product-removal">
                    <button class="remove-product" ng-click="removeProductfromCart(shoppingCart)">Remove</button>
                </div>
                <div class="product-line-price">{{shoppingCart.productPrice * shoppingCart.productQuantity | number:2}} </div>
                </input>
            </div>

            <div class="totals">
                <div class="totals-item">
                    <label>Subtotal</label>
                    <div class="totals-value" id="cart-subtotal" ng-model="subtotal">{{recalculateCart() |number:2}}</div>
                </div>
                <div class="totals-item">
                    <label>Tax (5%)</label>
                    <div class="totals-value" id="cart-tax">{{subtotal * 0.05 | number:2}}</div>
                </div>
                <div class="totals-item">
                    <label>Shipping</label>
                    <div class="totals-value" id="cart-shipping">{{shippingRate | number:2}}</div>
                </div>
                <div class="totals-item totals-item-total">
                    <label>Grand Total</label>
                    <div class="totals-value" id="cart-total">{{subtotal + (subtotal * 0.05) + shippingRate | number:2}}</div>
                </div>
            </div>
        </div>
        <button class="btn btn-success" ng-click="continueShopping()"><i class="fa fa-shopping-cart"></i> Continue Shopping</button>
        <button ng-show="shoppingCarts.length > 0" ng-click="checkout()" class="checkout btn btn-success">Checkout</button>
    </div>
    <app-footer></app-footer>
</div>