<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Create New Product</h5>
        <button type="button" class="close" aria-label="Close" ng-click="cancelNewProduct()">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="fluid-container">
        <div class="modal-body">
            <form>
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="name" placeholder="Enter product name" ng-model="product.name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="desc" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="desc" placeholder="Enter description" ng-model="product.desc">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="category" class="col-sm-3 col-form-label">Primary Category</label>
                    <div class="col-sm-7">
                        <select name="category-gender" class="form-control" id="category" ng-model="product.categoryGender" ng-options="cat for cat in categoryGender">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="subcategory" class="col-sm-3 col-form-label">Second Category</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="category-type" id="subcategory" ng-model="product.categoryType" ng-options="cat for cat in categoryType">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="price" class="col-sm-3 col-form-label">Price</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" id="price" min="1" placeholder="Enter price" ng-model="product.price">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="discount" class="col-sm-3 col-form-label">Discount</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" id="discount" min="1" placeholder="Enter discount" ng-model="product.discount">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" id="quantity" min="1" placeholder="Enter quantity" ng-model="product.quantity">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input type="file" image-with-preview ng-model="prdimage" accept="image/jpeg,image/png">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div>Sizes:
                            <label ng-repeat="size in availableSizes">
                    <input
                      type="checkbox"
                      name="selectedSizes[]"
                      value="{{size}}"
                      ng-checked="selection.indexOf(size) > -1"
                      ng-click="toggleSelection(size)">
                       {{size}}
                  </label>
                        </div>
                    </div>
                </div>
            </form>
            <img class="img-fluid " ng-show="prdimage.src " ng-src="{{prdimage.src}} " alt="{{name}} ">
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-secondary " ng-click="cancelNewProduct() ">Close</button>
        <button type="button " class="btn btn-primary " ng-click="addProduct() ">Save</button>
    </div>
</div>