<div>
    <app-navbar></app-navbar>
    <!-- <div class="breadcrumb" role="navigation" aria-label="Breadcrumbs">
        <div class="_cont">
            <ol>
                <li><a title="Back to the frontpage">Home</a></li>
                <li><a title="">Men</a></li>
                <li>Tony Hunfinger T-Shirt New York</li>
            </ol>
        </div>
    </div> -->
    <div class="product-detail container">
        <div class="row">
            <div class="col-md-5">
                <div class="product-detail-image">
                    <span ng-style="{'background-image': 'url({{product.image}})'}">
                    </span>
                    <img ng-src="{{product.image}}">
                    <div class="detail-socials">
                        <a target="_blank " class="share-facebook " title="Share "></a>
                        <a target="_blank " class="share-twitter " title="Tweet "></a>
                        <a target="_blank " class="share-pinterest " title="Pin it "></a>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <h1 class="product-detail-name">{{product.name}}</h1>
                <div class="product-detail-price"> ${{product.price | number:2}}</div>
                <div class="row size-colors">
                    <div class="header-size col-md-6 clearfix">
                        <h6>SIZE</h6>
                        <div class="sizes" ng-repeat="size in product.sizes">
                            <input id="productSize" type="radio" />
                            <label for="productSize"> {{size}}</label>

                        </div>
                    </div>
                    <div class="header-color col-md-6 clearfix">
                        <h6>COLOR</h6>
                        <div class="colors" ng-repeat="color in product.colors">
                            <input quickbeam="color " id="productColor" type="radio " />
                            <label for="productColor">
                          <span ng-style="{ 'background-color': '{{color}}'}"></span>
                        </label>
                        </div>
                    </div>
                    <!-- <div class="guide col-md-2 ">
                        <a>Size guide</a>
                    </div> -->
                </div>

                <!-- <form method="post " enctype="multipart/form-data " id="AddToCartForm "> -->
                <form id="addToCartForm ">
                    <div class="btn-and-quantity ">
                        <input type="number" class="product-detail-quantity" placeholder="Qty." min="1" max="999" maxlength="3">
                        <button class="addToCartText btn btn-success"><i class="fa fa-shopping-cart "></i>
                                Add to Cart</button>
                    </div>
                </form>
                <div class="product-detail-name ">{{product.desc}}</div>
                <strong class="quick-cart-text ">Pay<br></strong>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>