<div>
    <!-- <div class="breadcrumb" role="navigation" aria-label="Breadcrumbs">
        <div class="_cont">
            <ol>
                <li><a title="Back to the frontpage">Home</a></li>
                <li><a title="">Men</a></li>
                <li>Tony Hunfinger T-Shirt New York</li>
            </ol>
        </div>
    </div> -->
    <div class="product-detail container">

        <!-- <div class="handleproducts">
            <button class="btn btn-primary ml-auto" ng-click="updateProductModal()">Update Product</button>
        </div> -->
        <div class="row">
            <div class="col-md-5">
                <div class="product-detail-image">
                    <img class="img-fluid" ng-src="{{product.image}}">
                    <div class="detail-socials">
                        <a target="_blank " class="share-facebook " title="Share "></a>
                        <a target="_blank " class="share-twitter " title="Tweet "></a>
                        <a target="_blank " class="share-pinterest " title="Pin it "></a>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <h1 class="product-detail-name">{{product.name}}</h1>
                <h6 class="product-detail-name ">{{product.desc}}</h6>
                <div class="product-detail-price"> ${{product.price | number:2}}</div>
                <div class="row size-colors">
                    <div class="header-size col-lg-12">
                        <h6>Size:</h6><span ng-show="$parent.selectedSize">Please select a size</span>
                        <div class="sizes" ng-repeat="size in product.sizes">
                            <input id="productSize-{{size}}" type="radio" name="prdSize" ng-click="setSizeOfProduct(size)" value="{{size}}" ng-model="$parent.selectedSize" required/>
                            <label for="productSize-{{size}}" ng-class="{'active-size' : productSizeTmp === size}"> {{size}}</label>
                        </div>
                    </div>
                    <div class="header-color col-lg-12">
                        <h6>Color:</h6><span ng-show="$parent.selectedSize">Please select a color</span>
                        <div class="colors" ng-repeat="color in product.colors">
                            <input id="productColor-{{color}}" type="radio" name="prdColor" ng-click="setColorOfProduct(color)" value={{color}} ng-model="$parent.selectedColor" required>
                            <label for="productColor-{{color}}" ng-class="{'active-color' : productColorTmp === color}" ng-style="{ 'border': '1px solid {{color}}'}">
                          <span ng-style="{ 'background-color': '{{color}}'}"></span>
                        </label>
                        </div>
                    </div>
                    <!-- <div class="guide col-md-2 ">
                        <a>Size guide</a>
                    </div> -->
                </div>
                <form id="addToCartForm ">
                    <div class="btn-and-quantity ">
                        <input type="number" class="product-detail-quantity" min="1" max="999" maxlength="3" ng-model="productQuantityTmp">
                        <button class="addToCartText btn btn-success" ng-click="addProducToShoppingCart()"><i class="fa fa-shopping-cart "></i>
                                Add to Cart</button>
                        <button ng-show="userAdminSw" class="btn btn-info delete-product" ng-click="deleteProduct(product)">Delete Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>