<div class="menu">
    <div class="top-menu" ng-controller="navCtrl">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="row col-lg-12">
                <a class="navbar-brand" href="#!/"><i class="far fa-gem fa-lg"><span class="navbar-brand-name">Anna Sofair</span></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" href="javascript:void(0)" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="nav-search-form form-inline ">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="$root.query">
                        <button class="btn btn-default nav-search-btn" ng-click="filterProduct($root.query)">
                            <i class="fa fa-search"></i></button>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i>
                    <span ng-hide="isLoggedIn()">My Acount</span>
                    <span ng-show="isLoggedIn()">{{"Hello," + " " + user.fname + " " + user.lname}}</span>
                    </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" ng-show="isLoggedIn()"><i class="fa fa-heart"></i>Wish List <span>(0)</span></a>
                        </li>
                        <li class="nav-item">
                            <div class="header-main-right">
                                <a href="#!/shoppingCart" class="cart" data-ng-init="getShoppingCart()">
                                    <i class="fas fa-lg fa-shopping-cart"> </i></a>
                                <span class="shopping-cart-counter" ng-show="calcProductCount() > 0">{{calcProductCount()}}</span>
                                <div class="mini-cart-content" ng-show="shoppingCarts.length > 0">
                                    <div class="row">
                                        <div class="mini-top-sec">
                                            <div class="cart-image" ng-repeat="shoppingCart in shoppingCarts">
                                                <div class="row">
                                                    <div class="col-md-4 shoppingCart-summary-left">
                                                        <a href="#!/products/{{shoppingCart.productID.id}}"><img class="cart-image-small" ng-src="{{shoppingCart.productImage}}" alt=""></a>
                                                    </div>
                                                    <div class="col-md-8 shoppingCart-summary-right">
                                                        <div class="cart-info">
                                                            <a href="#!/products/{{shoppingCart.productID.id}}">{{shoppingCart.productName}} </a>
                                                            <p class="cart-size"><span class="bold">Size:</span>{{shoppingCart.productSize}}</p>
                                                            <p class="cart-color"><span class="bold">Color:</span>
                                                                <span class="color-circle" ng-style="{ 'background-color': '{{shoppingCart.productColor}}'}"></span>
                                                            </p>
                                                            <p class="cart-price"> <span class="bold">Price: </span>${{shoppingCart.productPrice | number:2}} </p>
                                                            <p class="cart-quantity"><span class="bold">Qty:</span> {{shoppingCart.productQuantity}}</p>
                                                            <p class="cart-subtotal"><span class="bold">Subtotal: </span> ${{shoppingCart.productQuantity * shoppingCart.productPrice | number:2}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mini-bottom-sec">
                                        <p class="total-amount"><span class="bold">Est.TOTAL: ${{recalculateCart() | number:2}}</span></p>
                                        <button class="btn btn-success" ng-click="checkout()">Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!/login" ng-hide="isLoggedIn()"><i class="fa fa-sign-in-alt" aria-hidden="true"></i>Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" ng-show="isLoggedIn()" ng-click="logout()">
                                <i class="fa fa-sign-in-alt" aria-hidden="true"></i>Logout
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="row col-lg-12 navbar-second-row">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link " href="# ">HOME</a>
                        </li>
                        <li class="nav-item dropdown" uib-dropdown>
                            <a class="nav-link dropdown-toggle" uib-dropdown-toggle id="navbarDropdownMes" data-toggle="dropdown" aria-haspopup="true " aria-expanded="false" href="javascript:void(0)">
                                        MENS
                                    </a>
                            <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="navbarDropdownMes">
                                <div class="row">
                                    <div class="col-md-6 nav-dropdown-right">
                                        <a href="#!/products/men/outfits" class="dropdown-item ">Outfits</a>
                                        <a href="#!/products/men/t-shirts" class="dropdown-item ">T-Shirts</a>
                                        <a href="#!/products/men/jackets" class="dropdown-item ">Jackets</a>
                                        <a href="#!/products/men/jeans" class="dropdown-item ">Jeans</a>
                                        <a href="#!/products/men/shirts" class="dropdown-item ">Shirts</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#!/products/men/accessories" class="dropdown-item ">Accessories</a>
                                        <a href="#!/products/men/watches" class="dropdown-item ">Watches</a>
                                        <a href="#!/products/men/sunglasses" class="dropdown-item ">Sunglasses</a>
                                        <a href="#!/products/men/caps" class="dropdown-item ">Caps</a>
                                        <a href="#!/products/men/perfumes" class="dropdown-item ">Perfumes</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown" uib-dropdown>
                            <a class="nav-link dropdown-toggle" uib-dropdown-toggle id="navbarDropdownMes" data-toggle="dropdown" aria-haspopup="true " aria-expanded="false" href="javascript:void(0)">
                                            WOMENS
                                    </a>
                            <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="navbarDropdownMes">
                                <div class="row">
                                    <div class="col-md-6 nav-dropdown-right">
                                        <a href="#!/products/women/outfits" class="dropdown-item ">Outfits</a>
                                        <a href="#!/products/women/t-shirts" class="dropdown-item ">T-Shirts</a>
                                        <a href="#!/products/women/jackets" class="dropdown-item ">Jackets</a>
                                        <a href="#!/products/women/jeans" class="dropdown-item ">Jeans</a>
                                        <a href="#!/products/women/shirts" class="dropdown-item ">Shirts</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#!/products/women/accessories" class="dropdown-item ">Accessories</a>
                                        <a href="#!/products/women/watches" class="dropdown-item ">Watches</a>
                                        <a href="#!/products/women/sunglasses" class="dropdown-item ">Sunglasses</a>
                                        <a href="#!/products/women/caps" class="dropdown-item ">Caps</a>
                                        <a href="#!/products/women/perfumes" class="dropdown-item ">Perfumes</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#!/about">ABOUT</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#!/stores">FIND A STORE</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

</div>
<div class="mainmenu">
    <nav class="nav navbar navbar-expand-lg navbar-light bg-light ">
        <div class="collapse navbar-collapse " id="navbarSupportedContent ">
        </div>
    </nav>
</div>
</div>